<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/ots?autoReconnect=true&amp;failOverReadOnly=false&amp;useSSL=false</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">123456</property>
    <property name="verifyServerCertificate">false</property>

    <property name="hibernate.connection.provider_class">
      org.hibernate.c3p0.internal.C3P0ConnectionProvider
    </property>
    <property name="c3p0.acquire_increment">1</property>
    <property name="c3p0.idle_test_period">300</property>
    <property name="c3p0.max_size">20</property>
    <property name="c3p0.max_statements">100</property>
    <property name="c3p0.min_size">5</property>
    <property name="c3p0.timeout">90</property>
    <property name="c3p0.preferredTestQuery ">select 1 from user where id=1</property>
    <property name="c3p0.idleConnectionTestPeriod ">18000</property>
    <property name="c3p0.maxIdleTime">25000</property>
    <property name="c3p0.testConnectionOnCheckout">true</property>

    <mapping resource="Class.hbm.xml"/>

    <mapping resource="Admin.hbm.xml"/>
    <mapping resource="Teacher.hbm.xml"/>
    <mapping resource="Student.hbm.xml"/>

    <mapping resource="Article.hbm.xml"/>
    <mapping resource="Course.hbm.xml"/>
    <mapping resource="Courseware.hbm.xml"/>
    <mapping resource="Message.hbm.xml"/>

    <mapping resource="Offered.hbm.xml"/>
    <mapping resource="Selected.hbm.xml"/>

  </session-factory>
</hibernate-configuration>
