<?xml version='1.0' encoding='UTF-8' ?>
<!-- was: <?xml version="1.0" encoding="UTF-8"?> -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->
    <bean id="CommonAction" class="Controller.CommonAction">
        <property name="adminService">
            <bean class="Service.AdminService"/>
        </property>
        <property name="teacherService">
            <bean class="Service.TeacherService"/>
        </property>
        <property name="studentService">
            <bean class="Service.StudentService"/>
        </property>

        <property name="articleService">
            <bean class="Service.ArticleService"/>
        </property>
        <property name="coursewareService">
            <bean class="Service.CoursewareService"/>
        </property>
        <property name="courseService">
            <bean class="Service.CourseService"/>
        </property>
        <property name="offeredService">
            <bean class="Service.OfferedService"/>
        </property>
        <property name="selectedService">
            <bean class="Service.SelectedService"/>
        </property>
    </bean>

    <bean id="ClassAction" class="Controller.ClassAction">
        <property name="classService">
            <bean class="Service.ClassService"/>
        </property>
    </bean>

    <bean id="CourseAction" class="Controller.CourseAction">
        <property name="courseService">
            <bean class="Service.CourseService"/>
        </property>
        <property name="offeredService">
            <bean class="Service.OfferedService"/>
        </property>
    </bean>
    <bean id="CoursewareAction" class="Controller.CoursewareAction">
        <property name="coursewareService">
            <bean class="Service.CoursewareService"/>
        </property>
    </bean>

    <bean id="OfferedAction" class="Controller.OfferedAction">
        <property name="offeredService">
            <bean class="Service.OfferedService"/>
        </property>
    </bean>

    <bean id="SelectedAction" class="Controller.SelectedAction">
        <property name="selectedService">
            <bean class="Service.SelectedService"/>
        </property>
    </bean>

    <bean id="ArticleAction" class="Controller.ArticleAction">
        <property name="articleService">
            <bean class="Service.ArticleService"/>
        </property>
    </bean>

    <bean id="MessageAction" class="Controller.MessageAction">
        <property name="messageService">
            <bean class="Service.MessageService" />
        </property>
        <property name="message">
            <bean class="Model.Message" />
        </property>
    </bean>
</beans>
